<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejstudio.bookhistory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".presentation.di.KoinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookHistory"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.view.activity.main.booklist.SeeTextMemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.activity.main.booklist.WriteTextMemoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.view.activity.main.booklist.BookActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.activity.main.booksearch.BookDetailPageActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.activity.main.booksearch.SearchResultActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".presentation.view.activity.main.booksearch.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.activity.login.FindPassword2Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.activity.login.SignUp2Activity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".presentation.view.activity.login.FindPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".presentation.view.activity.login.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".presentation.view.activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.activity.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="aebb42dc4048c3609a4167f65fd2a5d8" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.activity.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>